body {
  background-color: #f9feff;
}

.card-hover {
  transition: transform 100ms ease-in-out;
}

.card-hover:hover {
  position: relative;
      /* background: #f2fafe !important;
      color: #1a1a1a !important; */
      transform: scale(1.125);
      z-index: 1000;
      box-shadow: "0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04)";
}

/* .imageView .modal-content{
  background-color: #1a1a1a;
  color: #fff;
}

.btn-close {
  background-color: antiquewhite;
} */